body{
  padding-top: 40px;
}

h4{
    margin-top: 10px;
    font-family:serif;
}

.table{
  text-align: center;
  border-radius: 5px;
  border: 2px;
}

thead{
  border-color: rgb(60,46,219);
}

tbody{
  border-color: rgb(60,46,219);
}

td{
  border-color: rgb(100,176,40);
}
